

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: url(assets/images/mainbg.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3{
    color: rgb(89, 168, 242);
    border-bottom: 1px solid rgb(206, 206, 206);
}

.navbar{
    padding-bottom: 20px;
}

.navbar-brand img{
    position: absolute;
    width: 195px;
    top: 0;
}

li{
    font-size: 18px;
    padding-left: 5px;
}

li a{
    color: grey;
}

ul li:nth-child(3){
    border-right: 0px solid white;
}

/******************BODY**************************************/

 .content{
    background-color: white;
    padding: 20px;
}

p{
    font-size: 20px;
    line-height: 40px;
}

.connect{
    background: white;
    height: 220px;
    padding: 20px;

}

#footer{
    position: absolute;
    border-top: 5px solid rgb(89, 168, 242);
    background: rgb(146, 146, 146);
    width: 100%;
    font-size: 20px;
    text-align: center;
    height: 60px;
    bottom: 0;
}
